@import "_zero-style.scss";
@import "_all.min.scss";
@import "_fonts.scss";
@import "_mixins.scss";

html {
  height: 100%;
}
.color-light-g {
  color: #7b6c63;
}

body {
  @include adaptiv-font(10, 6);
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*[class^="fa"] {
  margin: 0 10px;
}
.btn {
  text-decoration: none;
  outline: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}
.header {
  position: absolute;
  width: 100%;
  background-color: #303030;
  padding: 2.5em 0px;
  left: 0;
  top: 0;
}
.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.logo_area {
  @include _text(4.764em, normal, #fff, none);
  font-family: "Oleo Script";
  cursor: pointer;
}
.navigation {
  i {
    display: none;
    font-size: 3em;
    color: #fff;
  }
}
.navigation span {
  @include _text(1.2em, 500, #fff, uppercase);
  padding: 1em 0;
  margin: 0 15px;
  position: relative;
  &::after {
    // box-shadow: 0px 5px 0px -2px #7b6c63;
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    background-color: #7b6c63;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  &:hover::after {
    opacity: 1;
  }
}
.intro {
  width: 100%;
  height: 100%;
  background: url("../images/background-main.webp") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.intro__inner {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; // фиксит огромный размер кнопки
  flex-direction: column;
  text-transform: uppercase;
  color: #fff;
  padding: 10em 0px;
  & h3 {
    margin: 20px 0;
    font-size: 2.4em;
    font-weight: normal;
  }
  & h4 {
    margin: 0;
    font-size: 6.6em;
    font-weight: normal;
    white-space: pre-line; // учитывается Enter
  }
}
.download {
  @include _text(1.6em, normal, #fff, none);
  padding: 2em 6em;
  margin-top: 70px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  }
}
.sections {
  padding-top: 10em;
}
.about {
  width: 100%;
}
.about__inner {
  margin: 0 auto;
  text-align: center;
  padding: 10em 0;
}
.title {
  @include _text(4em, 600, #7b6c63, uppercase);
  margin: 0;
  text-align: center;
  //position: relative //-- ОШИБКА ::after НАЧИНАЕТ КРИВО РАБОТАТЬ
  &::after {
    display: block;
    position: relative;
    content: "";
    width: 76px;
    height: 6px;
    background-color: #7b6c63;
    margin: 50px auto;
  }
}
.subtitle {
  @include _text(1.8em, normal, #212121, none);
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}
.qualities {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5em 0;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: #f5f5f5;
    background: url("../images/meeting.webp") right no-repeat;
    background-size: cover;
  }
}
.qualities__inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner__title {
  @include _text(2.4em, 600, #7b6c63, uppercase);
  line-height: 30px;
  padding: 1em 0;
}
.inner__subtitle {
  @include _text(1.6em, 500, #000, none);
  line-height: 30px;
  padding: 1em 0;
}
.services__inner {
  margin: 0 auto;
  padding: 8em 0;
  text-align: center;
}
.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding-top: 4em;
  & * {
    margin: 15px 0;
  }
}
.service__item {
  margin: 35px 0 0 0;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.service__image {
  font-size: 2.971em;
  color: #7b6c63;
}
.service__header {
  @include _text(1.6em, 600, #363636, uppercase);
}
.service__text {
  color: #949494;
  font-size: 1.596em;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
}
.skills {
  padding: 3em 0;
  background: url("../images/skills_perc.webp") center no-repeat;
  display: flex;
  align-items: center;
}
.skills__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills__header {
  @include _text(2.4em, 600, #fff, uppercase);
  margin: 30px 0;
}
.skill__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill__percent {
  width: 200px;
  height: 200px;
  border: 5px solid #7b6c63;
  border-radius: 50%;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6em;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__name {
  margin-top: 20px;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
}
.skill__item {
  padding: 3em 2px;
}
.portfolios__header {
  padding: 10em 0;
  margin: 0 auto;
  text-align: center;
}
.portfolios__list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 350px;
}
.portfolio__item {
  width: 100%;
  // height: 100%;
}
.portfolios__info {
  background-color: #1a1a1a;
  padding: 10em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    padding: 1em 0;
  }
  a {
    padding: 0;
    margin: 20px 0;
  }
}
.info__header {
  @include _text(2.4em, 500, #fff, uppercase);
  margin: 0;
}
.info__subtitle {
  @include _text(1.8em, 300, #fff, none);
}
.info__link {
  @include _text(1.8em, 300, #28b6df, none);
  text-decoration: none;
}
.portfolio__additional {
  padding: 9em 0;
  display: flex;
  justify-content: center;
}
.portfolio__btn {
  @include _text(1.6em, 600, #000, uppercase);
  text-align: center;
  padding: 18px 44px;
  border: 2px solid #000;
  border-radius: 5px;
  & .fas {
    margin-right: 0;
    font-weight: bold;
  }
}
.portfolio__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover .portfolio__text {
    opacity: 1;
  }
}
.portfolio__text {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transform: scale(0.8);
  & h3 {
    @include _text(1.8em, 600, #fff, uppercase);
    transform: scale(1.2);
    &::after {
      display: block;
      content: "";
      position: relative;
      width: 35px;
      height: 4px;
      margin: 25px auto;
      background-color: #fff;
    }
  }
  & p {
    transform: scale(1.2);
    @include _text(1.4em, 300, #fff, uppercase);
    letter-spacing: 6px;
  }
}
.team {
  background-color: #f5f5f5;
  padding: 0px 20px;
}

.team__inner {
  padding: 90px 0;
}
.team__list {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.team__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  margin: 5px 1px;
  width: 400px;
}
.team__visuals {
  width: 100%;
  height: 70%;
  background-color: red;
}
.team__visuals:hover .team__contacts {
  opacity: 1;
}
.team__contacts {
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: hsla(0, 0%, 0%, 0.5);
  font-size: 2.4em;
  transition: opacity 0.2s linear;
  a {
    width: 2.4em;
    height: 2.4em;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  border: 2px solid #e4e4e4;
  transition: border 0.2s linear;
}
.team__about:hover {
  border: 2px solid #000;
}
.team__name {
  @include _text(2.398em, 500, #000, uppercase);
  padding: 10px;
  word-spacing: 7px;
}
.team__role {
  @include _text(1.399em, 500, #000, uppercase);
  font-family: "OratorStd";
  font-weight: bold;
  font-size: 1.399em;
  padding: 10px;
  letter-spacing: 4px;
}
.testimonial {
  padding: 70px 0;
  background-color: #1a1a1a;
  text-align: center;
  h2 {
    @include _text(2.4em, 600, #fff, uppercase);
    padding: 20px;
  }
}
.testimonial__text {
  @include _text(1.8em, normal, #8b8b8b, none);
  padding: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}
.testimonial__author {
  padding: 20px;
  @include _text(1.8em, 600, #635851, none);
}
.dot_container {
  display: flex;
  justify-content: center;
  margin: 50px 0 20px 0;
}
.dot {
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0px 5px;
}
.blog {
  padding: 90px 0;
}
.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 90px 0;
}
.divider {
  position: absolute;
  z-index: -1;
  border-right: 1px solid #ebebeb;
  height: 95%;
  width: 50%;
}
.post__item {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  &:nth-child(2n-1) {
    flex-direction: row-reverse;
    .post__info {
      text-align: right;
      padding-right: 80px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
.post-circle {
  position: absolute;
  // left: calc(50% - 8px);
  background-color: #ebebeb;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.post__photo {
  width: 40%;
  height: auto;
  object-fit: contain;
  padding: 0px 5px;
}
.post__info {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  width: 45%;
}
.post__date {
  @include _text(1.6em, 500, #7b6c63, none);
  line-height: 30px;
}
.post__header {
  font-size: 2.3em;
  color: #212121;
  line-height: 30px;
}
.post__text {
  font-size: 1.6em;
  line-height: 25px;
  margin-top: 15px;
  // width: 100%;
  color: #afafaf;
}
.posts__end-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: 100%;
  background-color: #7b6c63;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4em;
  line-height: 18px;
  text-align: center;
  border: 8px solid #ebebeb;
}
.contact {
  background-color: #f5f5f5;
}
.contact__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.contact__header {
  @include _text(4em, 600, #7b6c63, uppercase);
  margin-bottom: 50px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-self: stretch;
  input {
    padding: 15px;
    width: 48%;
    height: 40px;
    border-top: 3px solid #000;
    background-color: #f5f5f5;
    font-size: 1.6em;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  textarea {
    font-size: 1.6em;
    letter-spacing: 2px;
    font-weight: 600;
    resize: none;
    width: 100%;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f5f5f5;
    padding: 15px;
    display: block;
  }
  button {
    // align-self: flex-start;
    background: transparent;
    padding: 10px 45px;
    border: 3px solid black;
    margin: 30px 0;
    @include _text(1.8em, 600, #000, none);
  }
}
footer {
  background-color: #222222;
  padding: 60px 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  letter-spacing: 1px;
}
.footer__col {
  padding: 25px 10px;
  width: 300px;
  &:first-child {
    margin-left: 0px;
  }
}
.column__logo {
  @include _text(4.764em, normal, #7b6c63, none);
  font-family: "Oleo Script";
  cursor: pointer;
}
.column__header {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #c2c2c2;
  line-height: 30px;
}
.column__text {
  font-size: 1.4em;
  line-height: 24px;
  color: #8e8e8e;
  padding: 5px 0;
}
.column__post {
  padding: 15px 0;
  border-bottom: 1px solid #393939;
}
.cpost__date {
  font-size: 1em;
  color: #5f5f5f;
  text-transform: uppercase;
  margin: 5px 0;
}
.cpost__text {
  font-size: 1.4em;
  color: #929292;
  line-height: 30px;
  font-weight: 600;
}
.column__info {
  margin-top: 20px;
  p {
    word-wrap: normal;
    i {
      margin-left: 0;
    }
    font-size: 1.4em;
    color: #929292;
    line-height: 20px;
    word-spacing: 2px;
  }
}
// MEDIA QUERIES
@media (max-width: 1024px) {
  .skills {
    background: #1a1a1a;
  }
  .divider,
  .post-circle {
    display: none;
  }
  .post__item {
    flex-direction: column;
  }
  .post__photo {
    border-radius: 5px;
    background-color: red;
    object-fit: contain;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .post__info {
    text-align: left;
    padding: 0;
    width: 100%;
  }
  .post__text {
    margin-top: 5px;
  }
  .post__item,
  .post__item:nth-child(2n-1) {
    flex-direction: column;
    padding: 0;
    text-align: left;
    .post__info {
      padding: 0;
    }
  }
  .posts__end-circle {
    top: 95%;
  }
  .qualities::after {
    display: none;
  }
  .qualities__inner {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .portfolios__inner {
    .portfolios__list:first-child {
      .portfolio__item {
        display: none;
        &:first-child {
          display: block;
        }
      }
    }
    .portfolios__list:last-child {
      .portfolio__item {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
  .contact-info {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}
@media (max-width: 640px) {
  .download {
    margin-top: 30px;
  }
  .container {
    padding: 0px 20px;
  }
  .footer__col {
    padding: 25px 0px;
  }
  .navigation {
    i {
      display: block;
    }
  }
  .navigation {
    span {
      display: none;
    }
  }
}
